.carousel-container {
    display: grid;
    grid-template-rows: auto;
    justify-content: stretch;

    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;


  /* make it on top of all elements */
  z-index: 1000;
  overflow: hidden;
  pointer-events: all;
}

.imgCont {
    height: 100%;
    margin: 0;
    padding: 0;
    justify-self: stretch;
}

.arrow-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    transform: translateY(-50%);
}

.left-arrow {
    left: 1rem;
}

.right-arrow {
    right: 1rem;
}

.arrow-button-container {
    position: absolute;
    top: 10px;
    left: 50%;
    padding: 0 20px;
    display: inline-block;
    transform: translateX(-50%);
}

.up-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.down-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.timer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: 8px;
}